@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
	overflow: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

/* *{ margin: 0; padding: 0;} */

/* body { */
	/*To hide the horizontal scroller appearing during the animation*/
	/* overflow: hidden; */
/* } */

.clouds{
	padding: 50px 0;
	width: fit-content;
	/* background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%); */
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 500px; height: 200px;
	/* background: #fff; */
	position: relative; 
}

/*Time to animate*/
.x1 {
	/* top: 100; */
	background: url(/assets/img/cloud1.png) round;	

	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);

	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	/* left: 200px; */
	left: 100px; top: 100px;
	background: url(/assets/img/cloud2.png) round;

	/* -webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	transform: scale(1.8); */
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 27s linear infinite;
	-moz-animation: moveclouds 27s linear infinite;
	-o-animation: moveclouds 27s linear infinite;
}

.x3 {
	left: 100px; top: 100px;
	background: url(/assets/img/cloud3.png) round;

	/* -webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5); */

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x4 {
	left: 500px; top: 100px;
	background: url(/assets/img/cloud4.png) round;

	-webkit-animation: moveclouds 23s linear infinite;
	-moz-animation: moveclouds 23s linear infinite;
	-o-animation: moveclouds 23s linear infinite;
}

.x5 {
	left: 100px; top: 100px;
	background: url(/assets/img/cloud5.png) round;
	background-repeat: no-repeat;

  /* -webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8); */

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}
.description {
	margin-top: -100px;
  margin-left: calc(50% + 100px);
	width: 311px;
}
.content-style {
		margin-top: auto;
		width: 100%;
		height: 600px;
		background: url(/assets/img/background.png) no-repeat;
		background-size: 100% 100%;
		z-index: 10;
}
@media screen and (max-width: 900px) {
  .description {
		margin-left: auto;
		margin-right: auto;
	}
	.content-style {
		background-size: 100% 60%;
		background-position: bottom;
	}
}

@font-face {
	font-family: 'Pixeboy';
	src: url('https://res.cloudinary.com/dto7kdkpr/raw/upload/v1714059376/font/Pixeboy_o2gjs2.ttf');
}

@font-face {
	font-family: 'GohuFont';
	src: url('https://res.cloudinary.com/dto7kdkpr/raw/upload/v1714060935/font/GohuFont_Nerd_Font.ttf');
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 0px;}
	100% {margin-left: 150vw;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 0px;}
	100% {margin-left: 150vw;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 0px;}
	100% {margin-left: 150vw;}
}
